<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="script" href="../js/main.js"/>
<link rel="stylesheet" href="../foundation/css/foundation.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="script" href="../foundation/js/foundation.js"/>
