<div class="start_page">
    <div class="header_start_page">
      <h2 class="logo">Memory</h2>
    </div>
    <div class="main_start_page">
      <h2 class="game_start_question">Czy chcesz rozpocząc rozgrywkę?</h2>
      <a href="pages/game" class="button">Tak!</a>
    </div>
  </div>