body {
    margin: 0;
    font-family: "Lato";
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.75;
    color: rgb(43, 43, 43);
    height: 100%;
}

.main_window{
    background-color: rgb(168, 168, 168);
    width: 1700px;
    height: 100%;
    margin: 50px auto;
    border: 1px solid lightgray;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
}

.score_tab{
    width: 1700px;
    height: 100px;
    border-bottom: 1px solid rgb(105, 105, 105);
    box-shadow: 0 4px 2px -2px rgb(105, 105, 105);
}
.logo{
    font-size: 50px;
    margin-top: 10px;
    margin-left: 20px;

}



.points_part{
    width: 300px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}

.p_points{
    font-size: 30px;
}

.moves_part{
    width: 300px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}

.scores{
    position: relative;
    top: 5px;
    left: 1400px;
}
.button{
    position: absolute;
    font-size: 50px;
    padding: 10px 30px;
    left: 700px;
    top: 65px;
    background-color: #414141;
}
.button:hover{
    background-color: #1f1f1f;
}

.button:focus {
    background-color: #1f1f1f;
    color: #fefefe;
}

.cards{
    width: 1700px;
    height: 750px;
    margin: 10mm 20mm;
    overflow: auto;
   
    
}

.card{
    border-color: red;
    width: 13%;
    height: 200px;
    margin: 20px;
    float: left;
    background-color: black;
    transition: ease 0.5s;
}

.hidden{
    background-color: white;
}