body {
    margin: 0;
    font-family: "Lato";
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.75;
    color: #444;
}

.start_page{
    background-color: rgb(255, 255, 255);
    width: 80rem;
    height: 40rem;
    margin: 120px auto;
    border: 1px solid lightgray;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
}

.header_start_page{
    background-color: #eee;
    padding: 1px;
}

.logo{
    font-size: 60px;
    text-align: center;
    color: rgb(56, 56, 56);
}

.game_start_question{
    font-size: 2rem;
    text-align: center;
    margin-top: 70px;
}

.button{
    font-size: 50px;
    padding: 10px 30px;
    margin: 200px 200px 200px 560px;
    background-color: #262626;
}

.button:hover{
    background-color: #717171;
}