<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../js/game.js"></script>
  <link rel="stylesheet" href="../foundation/css/foundation.css">
  <link rel="stylesheet" href="../css/game.css">

  
  
  <title>Gra memory</title>
</head>
<body>

<div class="main_window">
  <div class="score_tab">
      <div id ="btn" class="button">Rozpocznij grę</div>
    <div class="scores">
    <div class="points_part">
      <p class="p_points">Punkty:&nbsp; </p>
      <div  class="points_counter">
      <p id="pointsCount" class="p_points"></p>
      </div>
    </div>
    <div class="moves_part">
      <p class="p_points">Ruchy:&nbsp; </p>
      <div class="moves_counter">
        <p id="movesCount" class="p_points"></p>
      </div>
    </div>
  </div>
  </div>
  <div id="cards_pool" class="cards">



  </div>
</div>

</body>

</html>